<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<a th:href="@{users/new}">Добавить пользователя</a>
<br>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Возраст</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>

        <td>
        <form th:action="@{/users/edit/{id}(id=${user.id})}" method="get">
            <button type="submit">Update</button>
        </form>
        </td>
        <td>
        <form th:action="@{/users/delete/{id}(id=${user.id})}" method="get">
            <button type="submit">Remove</button>
        </form>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>